<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Article Page</title>
</head>
<body>

    <header id="header"></header>

    <main>
        <header>
            <h1>First Article</h1>
        </header>
        <aside>
            <p>Yj</p>
            <p><a href="mailto:yj@gmail.com">yj@gmail.com</a></p>
            <p><time datetime="2022-01-01T00:00:00">2022-01-01</time></p>
            <p>#java</p>
        </aside>

        <section>
            <p>Article<br><br></p>

            <div>
                <form>
                    <label for="articleComment" hidden></label>
                    <textarea id="articleComment" placeholder="Write Comment..." rows="3"></textarea>
                    <button type="submit">Write</button>
                </form>

                <ul>
                    <li>
                        <div>
                            <time><small>2022-01-01</small></time>
                            <strong>Yj</strong>
                            <p>
                              Bosom is the most handsome cat in the world.
                              Elie is the most beautiful cat in the world.
                            </p>
                        </div>
                    </li>
                    <li>
                        <div>
                            <time><small>2022-01-02</small></time>
                            <strong>Yj</strong>
                            <p>
                                Bosom is the cutest cat in the world.
                                Elie is the most lovely cat in the world.
                            </p>
                        </div>
                    </li>
                </ul>
            </div>

            <nav>
                <a href="#">Prev</a>
                <a href="#">Next</a>
            </nav>

        </section>

    </main>

    <footer id="footer"></footer>

</body>
</html>